body {
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .mobile-active {
    display: inline;
  }

  .mobile-inactive {
    display: none;
  }
}






.writenote {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.heading {
  background-color: #5c5c5c;
  color: white;
}

.input-area {
  position: absolute;
  bottom: 0;
  width: 65%;
}
.note-input{
    border: 0;
}

  
  .note-input:hover {
    border: 2px solid lightblue;
  }

.hs {
  height: 95vh;
  width: 98vw;
  position: relative;
}

.notebooks {
  height: 95vh;
}

.people-list {
  height: 60vh;
  overflow-y: auto;
}

.notes-extended {
  height: 70vh;
  overflow-y: auto;
  padding: 20px;
  border-bottom: 2px solid #fff;
}

.chat-history {
  height: 65vh;
  overflow-y: auto;
  padding: 10px;
  border-bottom: 2px solid #fff;
}

  .chat-history ul {
    padding: 0
  }

    .chat-history ul li {
      list-style: none;
      margin-bottom: 30px
    }

      .chat-history ul li:last-child {
        margin-bottom: 0px
      }

  .chat-history .message-data {
    margin-bottom: 15px
  }

  .chat-history img {
    width: 30%;
    padding: 0;
  }



  .chat-history .message {
    color: #444;
    font-size: 0.95rem;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    margin-right: 10%;
  }


  .chat-history .my-message {
    background: #efefef
  }

  .chat-history .my-message:hover {
    background: #e8f1f3
  }


  .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
  }




.float-right {
  float: right;
}


.people-list .chat-list li {
  list-style: none;
  border-radius: 3px;
  position: relative;
  z-index: 20;
}

  .people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
  }

  .people-list .chat-list li.active {
    background: #efefef
  }

  .people-list .chat-list li .name {
    font-size: 15px
  }

.people-list .chat-list img {
  width: 45px;
  border-radius: 50%
}

.people-list img {
  float: left;
  border-radius: 50%
}

.people-list .about {
  float: left;
  padding-left: 8px;
  position: relative;
}

.people-list .status {
  color: #999;
  font-size: 13px
}
.user-list {
  height: 30vh;
  overflow-y: auto;
}

.user-list .chat-list li {
  list-style: none;
  border-radius: 3px;
  position: relative;
  z-index: 20;
}

  .user-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
  }

  .user-list .chat-list li.active {
    background: #efefef
  }

.user-list img {
  float: left;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}




.notebook-status {
  display: inline;
  cursor: pointer;
}

  .notebook-status:hover {
    background-color: darkgrey;
  }

.notebook-top-menu {
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 5;
}

.notebook-name {
  display: inline;
  cursor: pointer;
}

  .notebook-name:hover {
    background-color: #007bff;
    color: white;
  }

.delete-notebook {
  position: absolute;
  z-index: 200;
}

.edit-name {
  opacity: 0;
}

.notebook-name:hover .edit-name {
  opacity: 1;
}

.edit-note-group {
  opacity: 0;
  font-size: 1rem;
}

.message:hover .edit-note-group {
  opacity: 1;
}

.delete-icon {
  background-color: transparent;
}

  .delete-icon:hover {
    background-color: darkred;
    color: ghostwhite;
    border-radius: 4px;
  }

.edit-icon {
  background-color: transparent;
}

  .edit-icon:hover {
    background-color: darkblue;
    color: ghostwhite;
    border-radius: 4px;
  }

.edit-note-popover {
  text-align: center;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 20;
  width: 50%;
  top: 45%;
  left: 40%;
  height: 25%;
}

.planner-note {
  font-size: 0.7rem;
  background-color: azure;
}

  .planner-note:hover {
    background-color: antiquewhite;
    font-size: 0.8rem;
  }

  .planner-note .planner-note-header {
    font-size: 0.8rem;
    font-weight: bold;
  }

  .planner-note:hover .planner-note-header {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .planner-note .planner-note-footer {
    font-size: 0.5rem;
    font-weight: bold;
  }

.serach-input-area {
  display: block;
  width: 100%;
}

.input-area {
  position: fixed;
  bottom: 0;
  right: 2%;
}

.inputMobile {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 2%;
}
